
input:focus {
	outline: none;
}

.neu-input {
	padding: 3px;
	padding-left: 5px;
	border-radius: 50px;
	background: #fcfcfc;
	box-shadow: inset 20px 20px 60px #d6d6d6, 
				inset -20px -20px 60px #ffffff;
}