
<div *ngFor="let link of links$ | async; let i = index">
	<link-entry (inputKeyup)="handleKeyDown($event.keyCode, i)" #inputs></link-entry>
	<button (click)="addLink(i)">Add</button>
	<button (click)="removeLink(i)">X</button>
</div>
<button (click)="addLink()">+</button>
<button (click)="logQueryList()">Log Q</button>
<button (click)="downloadLinks()">Download MP4</button>
<button (click)="downloadLinks(['-a'])">Download MP3</button>


<!-- <div *ngFor="let link of links; let i = index">
	<link-entry (keyup)="handleKeyDown($event.keyCode, i)" (inputValueChange)="$event" #inputs></link-entry>
	<button (click)="removeLink(i)">X</button>
</div> -->
